<DOCTYPE! html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" content="text/html" http-equiv="Content-Type">
	<title></title>
</head>
<body>
<h1><%= @user.name %>, Accepted the Invite</h1>
<p>===============================================
</p>
</body>
</html>
