<h1>Editing User</h1>

<%= render 'form' %>

<div class="row">
	<div class="small-6 columns">
		<%= link_to 'Show', @user, class: "success button inline right" %>
	</div>
	<div class="small-6 columns">
		<%= link_to 'Back', users_path, class: "success button" %>
	</div>
</div>
