<a class="close-reveal-modal" aria-label="close">&#215;</a>
<br>
<%= render 'form' %>

<div class="row">
	<div class="small-6 small-offset-6 columns">
		<%= link_to 'Back', users_path, class: "success radius button tiny" %>
	</div>
</div>
