
<table class='small-12 columns' id="events-table">
  <thead>
  <tr>
    <th class="text-center">Name</th class="text-center">
    <th class="text-center">Calendar</th>
    <th class="text-center">link</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.events.each do |event| %>
  <tr>
    <td><%= event.name %></td>   
    <td><%= event.calendar %></td>
    <td><%= link_to event.name, event.link %></td>
  </tr>
  <% end %>
  </tbody>
</table>