<% content_for :head do %>
	<h1>New Role</h1>
<% end %>

<%= render 'form' %>

<div class="row">
	<div class="small-6 columns">
		<%= link_to 'Back', roles_path, class: "success button radius tiny success right inline" %>
	</div>
</div>