<% content_for :head do %>
<h1>Editing Item</h1>
<% end %>
<%= render 'form' %>

<div class="row">
	<div class="small-6 columns">
		<%= link_to 'Show', @item, class: "success radius button right inline small" %> |
	</div>
	<div class="small-6 columns">
		<%= link_to 'Back', items_path, class: "success radius button small" %>
	</div>
</div>
