.button.tiny{
  font-size: 1em;
}
label.right{
	padding-right: 10px;
}

a .users-show{
  color: black;
}

.alert-callout-subtle {
  width: 100%;
  background: #e6e6e6;
  color: #8a8a8a;
  border: 0;
  padding-top:10px;
  padding-bottom: 10px;
  border-left: 0.3125rem solid #8a8a8a;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.alert-callout-subtle {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}

.alert-callout-subtle.alert {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #cc4b37;
}

.alert-callout-subtle.warning {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
}

.alert-callout-subtle.notice {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #1779ba;
}

.alert-callout-subtle.small {
  font-size: 80%;
}

.alert-callout-subtle.small .close-button {
  font-size: 1.5rem;
}

.alert-callout-subtle.large {
  font-size: 150%;
}

.alert-callout-subtle.large .close-button {
  font-size: 3rem;
}

.alert-callout-subtle .close-button {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.alert-callout-subtle.radius {
  border-radius: 0.6rem;
}

.button.small{
  color: white;
}

#checker{
  padding-top: 12px;
}


#users-table_info{
  color: white;
}

label{
  color: white;
}

#users-table_next, #users-table_previous{
  box-shadow: 2px 1px 3px grey;
  background-color: lightgreen;
  border-radius: 2px;
  cursor: pointer;
}

.reveal-modal{
  background-color: grey;
}

#roles-table_info{
  color: white;
}

#roles-table_next, #roles-table_previous{
  box-shadow: 2px 1px 3px grey;
  background-color: lightgreen;
  border-radius: 2px;
  cursor: pointer;
}

#items-table_info{
  color: white;
}

#items-table_next, #items-table_previous{
  box-shadow: 2px 1px 3px grey;
  background-color: lightgreen;
  border-radius: 2px;
  cursor: pointer;
}

#events-table_info{
  color: white;
}

#events-table_next, #events-table_previous{
  box-shadow: 2px 1px 3px grey;
  background-color: lightgreen;
  border-radius: 2px;
  cursor: pointer;
}

table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #222222;
  text-align: center;
}

